h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    margin-bottom: 1em;
}

p {
    line-height: 1.8rem;
    font-size: 1.1rem;
    margin-bottom: 4rem;

    color: #3d3d3d;
}

q {
    font-family: 'Merriweather', serif;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.1;

    display: block;
    margin: 2em -2em 2em -2em;
}

code {
    background-color: #22272e;
    display: block;

    padding: 30px 36px 30px 36px;
    border-radius: 6px;

    margin: 4rem -2rem 4rem -2rem;

    color: white;
}

@media screen and (max-width: 768px) {
    q {
        margin: 2em 1.4em 2em 1.4em;
        font-size: 1.5rem;
    }

    code {
        margin: 4rem 0 4rem 0;
    }
}
